.cabeçalho {
    background-color: #07C4D9;
    display: flex;
    padding: 24px 0;
    justify-content: space-around;
    }

.cabeçalho-título {
    color: #F26457;
    font-size: 44px;
}

.cabeçalho-lista {
    color: white;
    display: inline-block;
}

.cabeçalho-imagem{
    width: 10%;
}